name: "Pull Request Labeler"

on:
- pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
    - uses: actions/labeler@v5
=======
    - uses: actions/labeler@v6
>>>>>>> 0.30.3
